<div id="page-content">
  <h1 class = "text-center mt-4">Editing this top wares</h1>


  <%= render "form", top_ware: @top_ware %>

  <br>

  <div>
    <%= link_to "Show this top ware", @top_ware %> |
  </div>
</div>
