<div id="page-content">
    <h1 class = "text-center mt-4">Create all top wares</h1>
  <%= render "form", top_ware: @top_ware %>

  <br>

  <div>
    <%= link_to "Back to top wares", top_wares_path %>
  </div>
</div>