@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';


.navbar{
    background-color: black !important;
}

.nav-link{
    color: red !important;
}
#logo{
    color: pink !important;
    float: left;
    font-size: 1.7em;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}
#home-container{
    margin-top: 25px;
    // background-color: orange;
}
.jumbotron{
    background-image: url('home_page_img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 480px;
    h1 {
        color: white;
    }
}
.lm-btn{
    padding-bottom: 5px;
}
h1 {
    color: #857449;
}

html,
body{
    height: 100%;
}
#page-content{
    flex: 1 0 auto;
    background-color: lightgrey;
}
#sticky-footer{
    flex-shrink: none;
}
